---
language: java

jdk: oraclejdk8

before_install:
  - sudo pip install codecov

script:
  - gradle check --info --stacktrace
#  - gradle integration --info --stacktrace

after_success:
  - bash <(curl -s https://codecov.io/bash)