---
language: java

jdk: oraclejdk8

before_install:
  - sudo pip install codecov

script:
  - gradle check integration --info --stacktrace

after_success:
  - bash <(curl -s https://codecov.io/bash)
  
notifications:
  email:
    recipients:
      - cnaggar@gmail.com
      - askoura@gmail.com